<!-- Main jumbotron for a primary marketing message or call to action -->
{{>header}}
<div class="container" style="margin-top:3em">
    <!-- Example row of columns -->
     <div class='row' >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Update an App record</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row'>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border:1px solid #ddd;border-radius:3px;margin:2em 0em;padding:2em 2em">
            <form class="form-signin">
                
                <div class="form-group">
                    <label>App launch URL</label>
                    <input id="launchURL" type="text" class='form-control' placeholder="URL" value="{{content.url}}"></input>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="title" type="text" class='form-control' placeholder="title" value="{{content.title}}"></input>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea id="description" type="textarea" class='form-control' placeholder="Description">{{content.description}}</textarea>
                </div>
                <div class="form-group">
                    <label>Public Key</label>
                    <textarea id="publicKey" type="textarea" class='form-control' placeholder="Description">{{content.publicKey}}</textarea>
                </div>
                 <div class="form-group">
                    <label>Session Length (s)</label>
                    <input id="sessionLength" type="number" class='form-control' placeholder="0,Max length for the session" value="{{content.sessionLength}}"></input>
                </div>
                <div class="form-group">
                    <label>Launch Timeout (s)</label>
                    <input id="timeToConsume" type="number" class='form-control' placeholder="0,Grace period for the content to launch" value="{{content.timeToConsume}}"></input>
                </div>
                <div class="form-group">
                    <label>Media Type</label>
                    <select id="mediaTypeKey" type="textarea" class='form-control' placeholder="MediaType">
                        {{#types}}
                        <option {{#selected}} selected="selected" {{/selected }} name="{{name}}" value="{{uuid}}">{{name}}</option>
                        {{/types}}
                    </select>
                </div>
            </form>
            <button type='' class="btn btn-lg btn-primary btn-block" href="#" role="button">Update App</button>
            <div id="feedback" class="hidden alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span role="message"></span>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row'>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{>footer}}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!-- /container -->
<script type="text/javaScript">
    
        $('button').click(function()
        {

            var urlex = /[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/

            if(!$('#launchURL').val().match(urlex))
            {
                $('#feedback').removeClass('hidden');
                $('#feedback span[role=message]').text("Please enter a fully qualified URL.");
                return;
            }
            $('#feedback').addClass('hidden');
            var createRequest = {
                url: $('#launchURL').val(),
                description: $('#description').val(),
                title: $('#title').val(),
                publicKey: $.trim($('#publicKey').val()),
                timeToConsume: parseFloat($('#timeToConsume').val()) ,
                sessionLength: parseFloat($('#sessionLength').val()) ,
                mediaTypeKey: $('#mediaTypeKey').val()
            }
            $.ajax("/content/{{content._id}}/edit",
            {
                data: JSON.stringify(createRequest),
                type: "POST",
                success: function(res)
                {
                    window.location.pathname = "/content/search/{{content._id}}";
                },
                contentType: 'application/json'
            }).fail(function(xhr)
            {
                $('#feedback').removeClass('hidden');
                $('#feedback span[role=message]').text(xhr.responseText);
            })
        })
    
</script>
