<!-- Main jumbotron for a primary marketing message or call to action -->
{{>header}}
<div class="container" style="margin-top:3em">
    <!-- Example row of columns -->
    <div class='row' >
        <div class="col-md-4"></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row' >
        <div class="col-md-4"></div>
        <div class="col-md-4" style=""></div>
        <div class="col-md-4"></div>
    </div>
    <div class='row'>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="content"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class='row'>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{>footer}}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!-- /container -->
<script type="text/javaScript">

var launch = {{{launch}}};
var content = {{{content}}};
var endpoint = '{{{endpoint}}}';
$(document).ready(function(){
    
    var url = new URL(content.url);
    params = "xAPILaunchKey=" + launch.uuid + "&xAPILaunchService=" + encodeURIComponent(endpoint);

    if (content.publicKey == true)
    {
        params += "&" + "encryption=true";
    }
    if (url.search)
        url.search += "&";
    url.search += params;

    if (content.launchType == "popup")
    {
        window.open(url.toString(), "_blank");
        window.location = "/users/launches";
    }
    if (content.launchType == "redirect")
    {

        window.location = url.toString();
    }
    if (content.launchType == "frame")
    {
        var frame = $("<iframe></iframe>").appendTo("#content");
        $(frame).attr('src', url.toString());
        $(frame).css(
        {
            "width": "100%",
            "height": "calc(100% - 10em)",
            "border":"none"
        })
    }
    if (content.launchType == "manual")
    {
        var frame = $("<h2 class='text-center'>Please copy the code below into the content's prompt.</h2>").appendTo("#content");
        var frame = $("<h1 class='text-center'></h1>").appendTo("#content");
        $(frame).text(launch.uuid);

        var frame = $("<h2 class='text-center'>Use the following address if prompted to indentify the launch server.</h2>").appendTo("#content");
        var frame = $("<h1 class='text-center'></h1>").appendTo("#content");
        $(frame).text(endpoint)
    }
})
</script>
