<!-- Main jumbotron for a primary marketing message or call to action -->
{{>header}}
<div class="container" style="margin-top:4em"></div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row contentlist">
        {{#results}}
        <div class="col-md-4">
            <h2>{{title}}</h2>
            <em class="small">{{url}}</em>
            <p style="    height: 200px;">
            {{^virtuals.mediaType.iconURL}}    
                <img style = "width:200px;height:200px" src="/static/img/content.png"></img>
            {{/virtuals.mediaType.iconURL}}    
            {{#virtuals.mediaType.iconURL}}    
                <img style = "width:200px;height:200px" src="{{virtuals.mediaType.iconURL}}"></img>
            {{/virtuals.mediaType.iconURL}}    
            </p>
            <p>{{description}}{{^description}}No Description{{/description}}</p>
            <p><span class="glyphicon glyphicon-share-alt"></span> {{launches}} Launches</p>
            <div class="btn-group" role="group">
            
            <a class="btn btn-default {{^user}}disabled{{/user}}" href="/launch/media/{{virtuals.launchKey}}" role="button">Launch</a>
                <div class="btn-group" role="group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu{{virtuals.launchKey}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="sr-only">Toggle Dropdown</span>...
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{virtuals.launchKey}}">
                            
                        <li><a href="/media/{{virtuals.launchKey}}/launches">View Launch History</a></li>
                        <li><a href="/media/{{virtuals.launchKey}}/xapi">View Associated Activity</a></li>
                        <li><a href="/media/{{virtuals.launchKey}}">View DB Record</a></li>
                       
                        {{#virtuals.owned}}
                        <li role="separator" class="divider"></li>
                        <li><a href="/media/{{virtuals.launchKey}}/delete">Remove</a></li>
                        <li><a href="/media/{{virtuals.launchKey}}/edit">Edit</a></li>
                        {{/virtuals.owned}}
                    </ul>
                </div>
            </div>
        </div>
        {{/results}}
    </div>
    <hr> {{>footer}}
</div>
<!-- /container -->
