{{>header}}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container" style="margin-top:3em">
    <!-- Example row of columns -->
     <div class='row' >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Register an App URL</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row'>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border:1px solid #ddd;border-radius:3px;margin:2em 0em;padding:2em 2em">
            <form class="form-signin">
                
                <div class="form-group">
                    <label>App launch URL</label>
                    <input id="launchURL" type="text" class='form-control' placeholder="URL"></input>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="title" type="text" class='form-control' placeholder="title"></input>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea id="description" type="textarea" class='form-control' placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Public Key</label>
                    <textarea id="publicKey" type="textarea" class='form-control' placeholder="Optional PEM key"></textarea>
                </div>
                <div class="form-group">
                    <label>Session Length (s)</label>
                    <input id="sessionLength" type="number" class='form-control' placeholder="0, Max length for the session" value="0"></input>
                </div>
                <div class="form-group">
                    <label>Launch Timeout (s)</label>
                    <input id="timeToConsume" type="number" class='form-control' placeholder="0, Grace period for the content to launch" value="0"></input>
                </div>
                <div class="form-group">
                    <label>Custom Data</label>
                    <textarea id="customData" type="text" class='form-control' placeholder=""></textarea>
                </div>
                <div class="form-group">
                    <label>Media Type</label>
                    <select id="mediaTypeKey" type="textarea" class='form-control' placeholder="MediaType">
                        {{#types}}
                        <option name="{{name}}" {{#selected}}selected{{/selected}} value="{{uuid}}">{{name}}</option>
                        {{/types}}
                        
                    </select>
                </div>
                <div class="form-group">
                    <label>Launch Type</label>
                    <select id="launchType" type="number" class='form-control' placeholder="0, Grace period for the content to launch">
                        
                        <option name="popup" value="popup">Popup</option>
                        <option name="redirect" value="redirect">Redirect</option>
                        <option name="frame" value="frame">Frame</option>
                        <option name="manual" value="manual">Manual</option>

                    </select>
                </div>
            </form>
            <button type='' class="btn btn-lg btn-primary btn-block" href="#" role="button">Register App</button>
            <div id="feedback" class="hidden alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span role="message"></span>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row'>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{>footer}}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!-- /container -->
<script type="text/javaScript">
    require(['/static/scripts/pbkdf2.js'], function(CryptoJS)
    {
        $('button').click(function()
        {

            
            $('#feedback').addClass('hidden');
            var createRequest = {
                url: $('#launchURL').val(),
                description: $('#description').val(),
                title: $('#title').val(),
                publicKey: $.trim($('#publicKey').val()),
                timeToConsume: parseFloat($('#timeToConsume').val()) ,
                sessionLength: parseFloat($('#sessionLength').val()) ,
                mediaTypeKey: $('#mediaTypeKey').val(),
                customData: $('#customData').val(),
                launchType: $('#launchType').val() 
            }
            $.ajax("/content/register",
            {
                data: JSON.stringify(createRequest),
                type: "POST",
                success: function(res)
                {
                   
                    window.location.pathname = "/";
                },
                contentType: 'application/json'
            }).fail(function(xhr)
            {
                $('#feedback').removeClass('hidden');
                $('#feedback span[role=message]').text(xhr.responseText);
            })
        })
    })
</script>
