{{>header}}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container" style="margin-top:3em">
    <!-- Example row of columns -->
    <div class='row' >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Reset Password</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row' >
        <div class="col-md-4"></div>
        <div class="col-md-4 card">
            
            <form onsubmit="return false;" class="form-signin ">
                <div class="form-group label-floating">
                    <label for="pwdo" class="control-label">Old Password (Or Reset Key)</label>
                    <input id="pwdo" name= 'pwdo' type="password" class='form-control' ></input>
                </div>
                <div class="form-group label-floating">
                    <label for="pwd" class="control-label">New Password</label>
                    <input id="pwd" name= 'pwd' type="password" class='form-control' ></input>
                </div>
                <div class="form-group label-floating">
                    <label for="pwd1" class="control-label">Type it again</label>
                    <input id="pwd1" name='pwd1' type="password" class='form-control' ></input>
                </div>
            </form>
            <button id='submit' class="btn btn-raised btn-primary btn-lg btn-block" href="#" role="button">Update Password</button>
            
            <div id="feedback" class="hidden alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span role="message">Enter a valid email address</span>
            </div>
           
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row'>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{>footer}}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!-- /container -->
<script type="text/javaScript">
function getQueryVariable(variable)
{
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++)
    {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable)
        {
            return decodeURIComponent(pair[1]);
        }
    }
    console.log('Query variable %s not found', variable);
}

 $("input").keypress(function(k)
    {
        if(k.keyCode == 13)
        {
           if(this == $("input").last()[0])
           {
                $("#submit").click();
           }     
        }
    })

  $("input").focus(function(){

    $('#feedback').addClass('hidden');

 })

require(['/static/scripts/pbkdf2.js'], function(CryptoJS)
{
    $('#submit').click(function()
    {
        $('#feedback').addClass('hidden');

        if ($('#pwd1').val() !== $('#pwd').val() || !$('#pwd1').val())
        {
            $('#feedback').removeClass('hidden');
            $('#feedback span[role=message]').html("Passwords must match and cannot be blank");
            return;
        }

        window.setTimeout(function()
        {
            var loginRequest = {
                password: $('#pwd1').val(),
                oldpassword: $("#pwdo").val()
            }

            $.ajax("/users/resetPassword",
            {
                data: loginRequest,
                type: "POST",
                success: function(res)
                {
                    window.location = "/";
                },
            }).fail(function(xhr)
            {
                $('#feedback').removeClass('hidden');
                $('#feedback span[role=message]').html(xhr.responseText);
            })
        }, 100)
    })
})
</script>
