<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="/static/scripts/require.js"></script>
<script>
window.jQuery || document.write('<script src="static/scripts/jquery.min.js"><\/script>')
</script>
<script src="/static\bootstrap-3.3.6-dist\js\bootstrap.min.js"></script>
<link rel="stylesheet" href="/static\bootstrap-3.3.6-dist\css\bootstrap.min.css"></link>
<link rel="stylesheet" href="/static\bootstrap-3.3.6-dist\css\bootstrap-theme.min.css"></link>
