<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	Hi {{username}}, 
	<br>
	You are receiving this email because someone requested a password reset on your LRS Test account. If you did not request a password reset, you can ignore this message. Your old password will continue to work as normal.
	<br>
	We've generated a temporary credential for you. This temporary password is
	<br><br>
	{{temp_password}}
	<br><br>
	<a href='{{login_url}}'> Log in to LRS Test </a>
	<br><br>
	You can use the link above to log into the LRS Test site. Use the password in this email. Once you've entered the password and logged in, you must reset your password.

</body>
</html>

